{%extends 'store/main.html'%}
{% load static %}
{% block content %}
<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url({% static 'images/bg_1.jpg' %});">
        <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-md-12 ftco-animate text-center">
            <h1 class="mb-2">We serve Fresh Vegestables &amp; Fruits</h1>
            <h2 class="subheading mb-4">We deliver organic vegetables &amp; fruits</h2>
            <p><a href="#" class="btn btn-primary">View Details</a></p>
          </div>

        </div>
      </div>
    </div>

    <div class="slider-item" style="background-image: url({% static 'images/bg_2.jpg' %});">
        <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-sm-12 ftco-animate text-center">
            <h1 class="mb-2">100% Fresh &amp; Organic Foods</h1>
            <h2 class="subheading mb-4">We deliver organic vegetables &amp; fruits</h2>
            <p><a href="#" class="btn btn-primary">View Details</a></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
      <div class="container">
          <div class="row no-gutters ftco-services">
    <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
      <div class="media block-6 services mb-md-0 mb-4">
        <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
              <span class="flaticon-shipped"></span>
        </div>
        <div class="media-body">
          <h3 class="heading">Free Shipping</h3>
          <span>On order over $100</span>
        </div>
      </div>      
    </div>
    <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
      <div class="media block-6 services mb-md-0 mb-4">
        <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
              <span class="flaticon-diet"></span>
        </div>
        <div class="media-body">
          <h3 class="heading">Always Fresh</h3>
          <span>Product well package</span>
        </div>
      </div>    
    </div>
    <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
      <div class="media block-6 services mb-md-0 mb-4">
        <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
              <span class="flaticon-award"></span>
        </div>
        <div class="media-body">
          <h3 class="heading">Superior Quality</h3>
          <span>Quality Products</span>
        </div>
      </div>      
    </div>
    <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
      <div class="media block-6 services mb-md-0 mb-4">
        <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
              <span class="flaticon-customer-service"></span>
        </div>
        <div class="media-body">
          <h3 class="heading">Support</h3>
          <span>24/7 Support</span>
        </div>
      </div>      
    </div>
  </div>
      </div>
</section>

  <section class="ftco-section ftco-category ftco-no-pt">
    <div class="container">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <span class="subheading">Featured Categories</span>
      <h2 class="mb-4">Our Categories</h2>
    </div>
        <div class="row">

            {% for category in Categories %}                
                    <div class="col-md-4 col-sm-6 mb-4">
                        <div class="category-wrap ftco-animate img d-flex align-items-end"
                             style="background-image: url('{{ category.image.url }}');">
                            <div class="text px-3 py-1">
                                <h2 class="mb-0">
                                    <a href="#">{{ category.name }}</a>
                                </h2>
                            </div>
                        </div>
                    </div>  
            {% endfor %}

        </div>
    </div>
</section>


<section class="ftco-section">
  <div class="container">
          <div class="row justify-content-center mb-3 pb-3">
    <div class="col-md-12 heading-section text-center ftco-animate">
        <span class="subheading">Featured Products</span>
      <h2 class="mb-4">Our Products</h2>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
    </div>
  </div>   		
  </div>
  <div class="container">
    <div class="row">

        {% for product in Products %}

                <div class="col-lg-3 col-md-4 col-sm-6 mb-4 ftco-animate">
                    <div class="product">

                        <a href="#" class="img-prod">
                            <img class="img-fluid"
                                 src="{{ product.image.url }}"
                                 alt="{{ product.name }}">
                            <div class="overlay"></div>
                        </a>

                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3>
                                <a href="#">{{ product.name }}</a>
                            </h3>

                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                        <span class="price-sale">
                                          ${{ product.price }}
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="{% url 'product-single' product.id %}" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                        <span><i class="ion-ios-menu"></i></span>
                                    </a>
                                    <a href="{% url 'add_to_cart' product.id %}"
                                        class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                      </a>

                                    <a href="{% url 'add_to_wishlist' product.id %}" class="heart d-flex justify-content-center align-items-center">
                                        <span><i class="ion-ios-heart"></i></span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

        {% endfor %}

    </div>
</div>

</section>
  




<hr>

{% endblock  %}
